<div class="row justify-content-center">
  <div class="col-sm-6">
    <h3>Add Store</h3>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="form-group">
      <label> Name: </label>
      <input #storeName class="form-control"/>

    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="form-group">
      <label> Address: </label>
      <input #storeAddress class="form-control"/>

    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="float-left">
      <button (click)="goBack()" class="btn btn-primary">go back</button>

    </div>
    <div class="float-right">
      <button (click)="add(storeName.value, storeAddress.value); storeName.value=''; storeAddress.value='';" class="btn btn-primary">
        add
      </button>
    </div>
  </div>
</div>
